//
//  Shared.xcconfig
//  SimpleGeo
//

#include "Private.xcconfig"

CODE_SIGN_ENTITLEMENTS = Entitlements.plist
IPHONEOS_DEPLOYMENT_TARGET = 4.0
OTHER_LDFLAGS = -ObjC -all_load
INFOPLIST_FILE = SimpleGeo-Info.plist
PRODUCT_NAME = SimpleGeo
ALWAYS_SEARCH_USER_PATHS = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/ext"
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = SimpleGeo_Prefix.pch
